In [ ]:
# Nested For Loop
# List Comprehension

In [21]:
cities = ['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']
visited_cities = ['islamabad', 'multan','faisalabad','quetta','peshawar']

for city in cities:
    for visit_city in visited_cities:
        print(city, visit_city)
    print('---------'*10)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
------------------------------------------------------------------------------------------
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
------------------------------------------------------------------------------------------
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
------------------------------------------------------------------------------------------
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
------------------------------------------------------------------------------------------
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar
------------------------------------------------------------------------------------------

In [23]:
x = 0
y = 0

while x < 4:
    while y < 6:
        y += 1
        print(y,end="-")
    # print()
    x += 1

1-2-3-4-5-6-

In [59]:
name = 'sana'
name
age = 26
age

26

In [71]:
print(f"This is {name} ,  {age}")

This is sana ,  26

In [67]:
print("this is "+ name +" "+ str(age))

this is sana 26

In [76]:
week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']
print(week_days)
print(time_slots)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['9AM-10AM', '10AM-11AM', '11AM-12PM']

Schedule for Monday
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12AM

Schedule for Tuesday
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12AM

In [82]:
for week_day in week_days:
    print(f"Schedule for: {week_day}")
    for slot in time_slots:
        print(f"Class at: {slot}")
    print()

Schedule for: Monday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Tuesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Wednesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Thursday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Friday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

In [25]:
x

4

In [27]:
y

6

In [29]:
4<4

False

In [31]:
remaining_cities_visit = []

for city in cities:
    if city in visited_cities:
        print('already visited')
    else:
        remaining_cities_visit.append(city)
    print(remaining_cities_visit)

['karachi']
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
already visited
['karachi', 'hyderabad']
['karachi', 'hyderabad', 'lahore']

In [35]:
cities_to_visit

['x', 'y']

In [43]:
cities_to_visit1 = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit1.append(city)
    
print(cities_to_visit)

Enter city to visit: karachi
Enter city to visit: lahore
Enter city to visit: multan
Enter city to visit: quit

['x', 'y', 'karachi']

In [45]:
cities_to_visit1

['karachi', 'lahore', 'multan']

In [33]:
cities_to_visit = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
    
print(cities_to_visit)

Enter city to visit: x
Enter city to visit: y
Enter city to visit: quit

['x', 'y']

In [84]:
numbers = [2,3,4,5]
numbers

[2, 3, 4, 5]

In [86]:
for num in numbers:
    print(num ** 2)

4
9
16
25

In [92]:
number = []
for num in numbers:
    square = num ** 2
    number.append(square)

In [94]:
number

[4, 9, 16, 25]

In [96]:
number1 = []
for num in numbers:
    square = num ** 2
    number1.append(square)
    print(square)

4
9
16
25

In [98]:
number1

[4, 9, 16, 25]

In [100]:
numbers

[2, 3, 4, 5]

In [102]:
number2 = [num for num in numbers]
number2

[2, 3, 4, 5]

In [104]:
number2 = [num**2 for num in numbers]
number2

[4, 9, 16, 25]

In [106]:
Ec_Store_Orders = [
    {"order_id": 1, "customer_name": "Ali", "total_amount": 120, "status": "Completed"},
    {"order_id": 2, "customer_name": "Raheel", "total_amount": 80, "status": "Pending"},
    {"order_id": 3, "customer_name": "Saleem", "total_amount": 150, "status": "Completed"},
    {"order_id": 4, "customer_name": "khushnoor", "total_amount": 95, "status": "Completed"},
    {"order_id": 5, "customer_name": "Alizy", "total_amount": 200, "status": "Pending"},
    {"order_id": 6, "customer_name": "javaid", "total_amount": 85, "status": "Completed"},
    {"order_id": 7, "customer_name": "Talha", "total_amount": 150, "status": "Pending"},
    {"order_id": 8, "customer_name": "Naveed", "total_amount": 200, "status": "Completed"},
]

In [108]:
for order in Ec_Store_Orders:
    print(order)

{'order_id': 1, 'customer_name': 'Ali', 'total_amount': 120, 'status': 'Completed'}
{'order_id': 2, 'customer_name': 'Raheel', 'total_amount': 80, 'status': 'Pending'}
{'order_id': 3, 'customer_name': 'Saleem', 'total_amount': 150, 'status': 'Completed'}
{'order_id': 4, 'customer_name': 'khushnoor', 'total_amount': 95, 'status': 'Completed'}
{'order_id': 5, 'customer_name': 'Alizy', 'total_amount': 200, 'status': 'Pending'}
{'order_id': 6, 'customer_name': 'javaid', 'total_amount': 85, 'status': 'Completed'}
{'order_id': 7, 'customer_name': 'Talha', 'total_amount': 150, 'status': 'Pending'}
{'order_id': 8, 'customer_name': 'Naveed', 'total_amount': 200, 'status': 'Completed'}

In [110]:
for order in Ec_Store_Orders:
    if order['total_amount'] > 100 and order['status'] == 'Completed':
        print(order['order_id'])

1
3
8

In [112]:
for order in Ec_Store_Orders:
    if order['total_amount'] > 100 and order['status'] == 'Completed':
        print(order)

{'order_id': 1, 'customer_name': 'Ali', 'total_amount': 120, 'status': 'Completed'}
{'order_id': 3, 'customer_name': 'Saleem', 'total_amount': 150, 'status': 'Completed'}
{'order_id': 8, 'customer_name': 'Naveed', 'total_amount': 200, 'status': 'Completed'}

In [114]:
with_out_list_comp = []
for order in Ec_Store_Orders:
    if order['total_amount'] > 100 and order['status'] == 'Completed':
        with_out_list_comp.append(order['order_id'])

In [116]:
with_out_list_comp

[1, 3, 8]

In [118]:
with_list_comp = [order['order_id'] for order in Ec_Store_Orders if order['total_amount'] > 100 and order['status'] == 'Completed' ]

In [120]:
with_list_comp

[1, 3, 8]