### Dictionary {key:value}

In Python, a dictionary is mutable collection of key-value pairs. It is one of the most versatile data structures in Python, allowing you to efficiently store and retrieve data based on custom keys.

In [1]:
#mutable
#indexed by key
#no duplicates

In [2]:
#dict syntax
#key 'name'
#value 'ali'

my_dict = {
    'name' : 'ali', #item
    'age' : 22,
    'student' : True
}

my_dict

{'name': 'ali', 'age': 22, 'student': True}

In [3]:
my_dict = {
    'name' : 'ali',
    'age' : 22
    'student' : True
}

my_dict

SyntaxError: invalid syntax. Perhaps you forgot a comma? (804099910.py, line 3)

In [4]:
my_dict = {
    name : 'ali',
    'age' : 22,
    'student' : True
}

my_dict

NameError: name 'name' is not defined

In [ ]:
my_dict = {
    'name' = 'ali',
    'age' : 22,
    'student' : True
}
my_dict

In [ ]:
my_dict1 = {
    'name' : ['ali', 'khan', 'john'],
    'age' : 22,
    'student' : True
}

my_dict1

In [5]:
my_dict1 = {
    'name' : ('ali', 'khan', 'john'),
    'age' : 22,
    'student' : True
}

my_dict1

{'name': ('ali', 'khan', 'john'), 'age': 22, 'student': True}

In [6]:
my_dict3 = {
    1 : 'ahmed',
    2 : 22,
    3 : True
}

my_dict3

{1: 'ahmed', 2: 22, 3: True}

In [7]:
my_dict = {
    'name' : ,
    'age' : ,
    'student' : 
}
my_dict

SyntaxError: expression expected after dictionary key and ':' (3301878339.py, line 2)

In [8]:
my_dict = {
    'name' :  
}
my_dict

SyntaxError: expression expected after dictionary key and ':' (2893454930.py, line 2)

In [9]:
#ordered
my_dictx = {
    1 : 'ali',
    'age' : 22,
    'student' : True
}

my_dictx

{1: 'ali', 'age': 22, 'student': True}

In [10]:
my_dictx = {
    'age' : 22,
    'student' : True,
    1 : 'ali',
}

my_dictx

{'age': 22, 'student': True, 1: 'ali'}

In [11]:
#indexed by key
# Unlike lists, which are indexed by numbers, dictionaries use keys to access values.
my_dict = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict['age']

22

In [12]:
#no duplicates
# Each key in a dictionary must be unique, but different keys can have the same value.
my_dict6 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True,
    'name' : 'sagar',
    'age' : 11
}
my_dict6

{'name': 'sagar', 'age': 11, 'student': True}

In [13]:
# # Accessing Values in a Dictionary
# my_dict['name']

In [14]:
# #Modifying a Dictionary
my_dictt = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}
my_dictt['age']=33
my_dictt

{'name': 'ali', 'age': 33, 'student': True}

In [15]:
# my_dict['age']=33
# my_dict

In [16]:
# #errors
my_dict['grade']

KeyError: 'grade'

In [17]:
car = {
    'color' : 'white',
    'name' : 'alto',
    'model' : 2001,
}
car

{'color': 'white', 'name': 'alto', 'model': 2001}

In [18]:
# # Nesting Dictionaries
employee = {
    101 : {'name': 'khan', 'age' : 22, 'Salary' : 2222222},
    102 : {'name': 'alice', 'age' : 33, 'Salary' : 2222},
    103 : {'name': 'john cena', 'age' : 11, 'Salary' : 22}
}
employee

{101: {'name': 'khan', 'age': 22, 'Salary': 2222222},
 102: {'name': 'alice', 'age': 33, 'Salary': 2222},
 103: {'name': 'john cena', 'age': 11, 'Salary': 22}}

In [19]:
employee[103]

{'name': 'john cena', 'age': 11, 'Salary': 22}

In [20]:
employee[103]['Salary']

22

In [21]:
employee[:2]

KeyError: slice(None, 2, None)

In [22]:
#methods
#dict
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [23]:
type(my_dict)

dict

In [24]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [25]:
my_dict.keys()

dict_keys(['name', 'age', 'student'])

In [26]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.get('name')

'ali'

In [27]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.get('age')

22

In [28]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.get('age')=33

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3884728723.py, line 7)

In [29]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.get('age')==33

False

In [30]:
my_dict12 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict12.get('grade')

In [31]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.update('grade': 'A')

SyntaxError: invalid syntax (3433791490.py, line 7)

In [32]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.update('grade')='A'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3274640866.py, line 7)

In [33]:
my_dict11 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict11.update({'grade':'A+'})
my_dict11

{'name': 'ali', 'age': 22, 'student': True, 'grade': 'A+'}

In [34]:
my_dict112 = {
    'name' : 'ali',
    'age' : 22,
    'student' : True
}

my_dict112.update({'name':'ali khan'})
my_dict112

{'name': 'ali khan', 'age': 22, 'student': True}

In [35]:
#Practice
# Store employee details using employee IDs as keys
#find name of 101, position of 102

employees = {
    101: {"name": "Alice", "position": "Manager", "salary": 5000},
    102: {"name": "Bob", "position": "Developer", "salary": 4000},
    103: {"name": "Charlie", "position": "HR", "salary": 3500}
}

In [36]:
# Convert a list of tuples to a dictionary
pairs = [("name", "Alice"), ("age", 30), ("city", "New York")]

In [37]:
# Track inventory in a store
inventory = {
    "laptop": 10,
    "phone": 25,
    "tablet": 7
}

#customer bought two laptops update laptops in inventory withour using method (use assginment operator)

## SET

A set in Python is an unordered collection of unique elements. This means that a set cannot contain duplicate values, and the elements are stored in no specific order.

In [38]:
#ordering
#duplicate
set1 = {1,2,3,'apple'}
set1

{1, 2, 3, 'apple'}

In [39]:
set2 = {1,2,3,'apple',2.2}
set2

{1, 2, 2.2, 3, 'apple'}

In [40]:
set3 = {1,'mango',2,3,'apple',2.2,3,4,6,7,'Cycle'}
set3

{1, 2, 2.2, 3, 4, 6, 7, 'Cycle', 'apple', 'mango'}

In [41]:
set5 = {1,'mango','mango','mango','mango',True,2,3,'apple',False,2.2,3,4,6,7,'Cycle',}
set5

{1, 2, 2.2, 3, 4, 6, 7, 'Cycle', False, 'apple', 'mango'}

In [45]:
set6 = {'mango','mango','mango',True,'mango',True,2,3,'apple',False,2.2,3,4,6,7,'Cycle',}
set6

{2, 2.2, 3, 4, 6, 7, 'Cycle', False, True, 'apple', 'mango'}

In [48]:
#unordered

#list
num1 = [50,40,30]
print(num1)

#set
num2 = {50,40,30}
print(num2)

[50, 40, 30]
{40, 50, 30}

In [49]:
#indexing
num2[1]

TypeError: 'set' object is not subscriptable

In [50]:
type(num2)

set

In [51]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [52]:
#methods
num2 = {50,40,30,20,10}
num1 = {1,2,3,5}

num1.union(num2)

{1, 2, 3, 5, 10, 20, 30, 40, 50}

In [ ]:
# #operation on set using symbols

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}


# union_set = set1 | set2
# print(union_set)

# intersection_set = set1 & set2
# print(intersection_set)

# difference_set = set1 - set2
# print(difference_set)

# sym_diff_set = set1 ^ set2 #returns except commmon
# print(sym_diff_set)

In [ ]:
#PRACTICE

# Remove duplicates from a list
names = ["Alice", "Bob", "Alice", "Eve", "Bob"]

In [ ]:
# Find common items between two lists (intersection)

math_students = ["Alice", "Bob", "Charlie"]
science_students = ["Bob", "David", "Charlie"]

In [ ]:
# Keep only unique words from a sentence
sentence = "the cat and the dog and the mouse"