### Functions

A function is a reusable block of code that performs a specific task. 

- Reusability: Once a function is defined, you can call it multiple times without having to rewrite the same code.

- Abstraction: Functions can hide complex implementation details, exposing only whatâ€™s necessary.

In [1]:
 # Global variable
a = 5
a

5

In [2]:
y = 2 #global variable

def print_my_y():
    y = 3 #local variable
    print('inside function:',y)

In [3]:
print(y)

2

In [4]:
print_my_y()

inside function: 3

In [5]:
y = 12 

def print_my_y():
    global y
    y = 3
    print('inside function:',y)

print_my_y()
print(y)

inside function: 3
3

In [6]:
print_my_y()
print(y)

inside function: 3
3

In [7]:
x=2
x=4
x

4

### Function in Function

In [8]:
def add(num1,num2):
    total = num1 + num2
    print(total)

add(3,8)

11

In [9]:
def add2(num1,num2):
    total = num1 + num2
    return total

add2(3,8)

11

In [10]:
def add2(num1,num2):
    total = num1 + num2
    print(num1)
    print(num2)
    print(total)

add2(3,8)

3
8
11

In [11]:
def add2(num1,num2):
    total = num1 + num2
    return num1
    return num2
    return total

add2(3,8)

3

In [12]:
def add1(num1,num2):
    total = num1 + num2
    print(add1)

add1(3,8)

<function add1 at 0x0000021A3005E020>

In [13]:
def bio(name, idc):
    print(f"my name is {name} and {idc}")
    add(2,5) #calling

bio('ali',27651)

my name is ali and 27651
7

Practice

Write a Python function to convert KILOMETERS TO MILES

### ERROR HANDLING

try, except, else, finally

In [14]:
print(1/0)

ZeroDivisionError: division by zero

In [15]:
print(1+3)
print(1/0)
print(2+5)

4

ZeroDivisionError: division by zero

In [16]:
#try
#except

In [17]:
try:
    print(1/0)
except:
    print('error')

error

In [18]:
print(1+3)

try:
    print(1/0)
except:
    print('error')

print(2+5)

4
error
7

In [19]:
try:
    print(1+5)
except:
    print('error')

6

In [20]:
try:
    print(1/0)
except ZeroDivisionError:
    print('error')

error

In [21]:
try:
    print(1/'a')
except:
    print('error')

error

In [23]:
try:
    print(1/'a')
except ZeroDivisionError:
    print('error')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [24]:
try:
    print(1/'a')
except TypeError:
    print('error')

error

In [22]:
print(1/'a')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [25]:
#more than one exception
try:
    x = input(int("enter num1:"))
    y = input(int("enter num2:"))

    result = x/y
    print(result)

except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')

invalid integer

In [26]:
try:
    x = int(input("enter num1:"))
    y = int(input("enter num2:"))

    result = x/y
    print(result)

except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')

enter num1: 3
enter num2: 3

1.0

In [27]:
try:
    x = int(input("enter num1:"))
    y = int(input("enter num2:"))

    result = x/y
    print(result)

except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')

enter num1: 1
enter num2: 0

cannot divided by zero

In [28]:
try:
    x = int(input("enter num1:"))
    y = int(input("enter num2:"))

    result = x/y
    print(result)

except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')

enter num1: w

invalid integer

In [29]:
#try
#except
#else
try:
    x = int(input("enter num1:"))
    y = int(input("enter num2:"))

    result = x/y
    
except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')
else: #optional
    print(result)

enter num1: 1
enter num2: 5

0.2

In [32]:
#try
#except
#else
#finally
try:
    x = int(input("enter num1:"))
    y = int(input("enter num2:"))

    result = x/y
    
except ZeroDivisionError:
    print('cannot divided by zero')
except ValueError:
    print('invalid integer')
else: #optional
    print(result)
finally:
    print('program executed')

enter num1: 1
enter num2: 0

cannot divided by zero
program executed

Write a program that checks if a number is even or odd. If the user inputs a non-numeric value, display an error message. If the number is even, print "Even", otherwise print "Odd". Finally, always print "Check complete".