In [1]:
import csv1

ModuleNotFoundError: No module named 'csv1'

In [1]:
import csv

In [2]:
dir(csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'QUOTE_NOTNULL',
 'QUOTE_STRINGS',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'register_dialect',
 'types',
 'unix_dialect',
 'unregister_dialect',
 'writer']

In [3]:
open_file = open('student data.csv',mode='r')
open_file

In [4]:
read = csv.reader(open_file)
read

In [5]:
data = list(read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [6]:
headers = data[0]
headers

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [7]:
student_data = data[1:]
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [8]:
student_data[0][2]

'50'

In [10]:
for marks in student_data:

SyntaxError: incomplete input (3268334159.py, line 2)

In [9]:
chem = []
for i in data[1:]:
    chem.append(float(i[2]))

In [10]:
chem

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 83.0]

In [11]:
sum(chem)

3421.0

In [12]:
len(chem)

50

In [13]:
avg = sum(chem)/len(chem)
avg

68.42

In [14]:
for per in data[1:]:
    chem = int(per[2])
    phy = int(per[3])
    maths = int(per[4])
    percentage = round((chem+phy+maths)/300*100,1)
    per.append(percentage)

In [15]:
headers.append('Percentage')
headers

['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage']

In [16]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage'],
 ['101', 'Aliza', '50', '23', '87', 53.3],
 ['102', 'Fareed', '45', '24', '88', 52.3],
 ['103', 'Basit', '46', '25', '89', 53.3],
 ['104', 'Abdullah', '47', '26', '90', 54.3],
 ['105', 'Ali', '48', '27', '67', 47.3],
 ['106', 'Mubashir', '49', '28', '68', 48.3],
 ['107', 'Waleed', '50', '29', '69', 49.3],
 ['108', 'Mansoor', '51', '30', '70', 50.3],
 ['109', 'Zain', '52', '31', '71', 51.3],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.7],
 ['136', 'Lubna', '79', '61', '98', 79.3],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.7],
 ['139', 'Ali', '82', '89', '46', 72.3],
 ['140', 'Aiza', '83', '45', '89', 72.3],
 ['141', 'Aiman', '84', '92', '78', 84.7],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.7],
 ['144', 'Laraib', '87', '56', '54', 65.7],
 ['145', 'Saleem', '88', '78', '78', 81.3],
 ['146', 'Bismil', '89', '89', '46', 74.7],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.7],
 ['149', 'Zarnish', '92', '78', '45', 71.7],
 ['150', 'Zara', '83', '45', '56', 61.3]]

In [17]:
updated = open('updated.csv', mode='w',newline="")
updated

In [19]:
writer = csv.writer(updated)
writer

In [20]:
writer.writerows(data)
updated.close()