### IF-ELIF-ELSE

In [1]:
# signal light example

light = 'red'

if light == 'red'
    print('stop')

SyntaxError: expected ':' (3451708828.py, line 5)

In [2]:
light = 'red'

if light == 'red':
print('stop')

IndentationError: expected an indented block after 'if' statement on line 3 (2244720522.py, line 4)

In [3]:
light = 'red'

if light == 'red':
    print('stop') #action required

stop

In [5]:
light = 'grey'

if light == 'red':
    print('stop') #action required
else:
    print('wait')

wait

In [6]:
light = 'white'

if light == 'red':
    print('stop') #action required
elif light == 'orange':
    print('ready')
elif light == 'green':
    print('go')
else:
    print('wait')

wait

In [7]:
light = 'green'

if light == 'red':
    print('stop') #action required
elif light == 'orange':
    print('ready')
elif light == 'green':
    print('go')
else:
    print('wait')

go

In [4]:
light == 'red'

True

In [15]:
#grading
#practice

marks = 'abc'

if marks >= 90:
    print('A+')
elif marks > 80:
    print('A')
elif marks <= 79:
    print('B')
else:
    print('enter number')

TypeError: '>=' not supported between instances of 'str' and 'int'

In [28]:
visa = "valid"
account_statement = 5000001
purpose = "education"
admission_letter = "no"
job_recommendation = "yes"
age = 33
family_member = "yes"
documents_submitted = "yes"

### Nested IF

In [19]:
#age
    #purpose

if age >= 18:
    if purpose == 'education':
        print('eligible for education visa')
    else:
        print('your purpose is not education')
else:
    print('underage')

eligible for education visa

In [25]:
#age
    #purpose

if age >= 18:
    if purpose == 'education':
        print('eligible for education visa')
    else:
        print('your purpose is not education')
else:
    print('underage')

underage

In [27]:
#age
    #purpose

if age >= 18:
    if purpose == 'job':
        print('eligible for education visa')
    else:
        print('your purpose is not education')
else:
    print('underage')

your purpose is not education

In [29]:
#age
    #purpose
        #family

if age >= 18:
    if purpose == 'education':
        if family_member == 'yes':
            print('eligible for visa')
        else:
            print('family member is mandatory')
    else:
        print('your purpose is not education')
else:
    print('underage')

eligible for visa

In [34]:
if age >= 18:
    if purpose == 'job':
        if family_member == 'yes':
            print('eligible for visa')
        else:
            print('family member is mandatory')
else:
    print('underage')

In [32]:
#if
    #if #purpose 
    #elif #purpose

In [ ]:
# Check if a number is positive or negative:

In [ ]:
# Check if a number is even or odd:

In [83]:
# Check if a character is a vowel:

letter = 'aeiouAEIOU'

word = input('enter letter: ')

if word in letter:
    print('vowel')
else:
    print('conconant')

enter letter:  y

conconant

### TUPLE

 **tuple** is an immutable collection of elements in Python.

In [36]:
#Allow Duplicates
x = ('apple')
x

'apple'

In [37]:
type(x)

str

In [41]:
bio = ('john cena', 44, 'USA', 89.2, 'New York')
bio

('john cena', 44, 'USA', 89.2, 'New York')

In [42]:
bio = ('john cena', 44, 'New York', 89.2, 'New York')
bio

('john cena', 44, 'New York', 89.2, 'New York')

In [43]:
bio1 = ('john cena', 44, [1,2,4], 89.2, 'New York')
bio1

('john cena', 44, [1, 2, 4], 89.2, 'New York')

In [46]:
bio2 = ('john cena', 44, [1,2,4], 89.2, 'New York')
bio2[2][2]

4

In [44]:
#Store Mixed Data Types

In [44]:
# Indexing and Slicing
bio2 = ('john cena', 44, 89.2, 'New York')
bio2[3]

'New York'

In [45]:
bio2 = ('john cena', 44, 89.2, 'New York')
bio2[:3]

('john cena', 44, 89.2)

In [38]:
# single_element_tuple = (5,)
y=('apple',)
y

('apple',)

In [39]:
type(y)

tuple

In [50]:
#Access List
a=(1,2,4,5,[1,2,4])
a[-1]

[1, 2, 4]

In [51]:
a=(1,2,4,5,[1,2,4])
a[-1][-1]

4

In [54]:
a=(1,2,4,5,[1,2,4])
a[-1][-1]='four'
a

(1, 2, 4, 5, [1, 2, 'four'])

In [47]:
#Immutable
bio4 = ('john cena', 44, 89.2, 'New York')
bio4[0]

'john cena'

In [48]:
bio4 = ('john cena', 44, 89.2, 'New York')
bio4[0]='shahrukh khan'

TypeError: 'tuple' object does not support item assignment

In [59]:
#concatenation
a = (1,3)
b = (4,5)
a+b

(1, 3, 4, 5)

In [60]:
#repeatition
c = (22,22) * 2
c

(22, 22, 22, 22)

In [55]:
#nested tuple
p = (1,2,4,5,('abc','xyz'),22)
p

(1, 2, 4, 5, ('abc', 'xyz'), 22)

In [56]:
p[4]

('abc', 'xyz')

In [57]:
p[4][1]

'xyz'

In [58]:
p[4][1]='not allowed'

TypeError: 'tuple' object does not support item assignment

In [61]:
#methods
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [62]:
# Check if the value 25 exists in the tuple (10, 20, 30, 40).
my_num = (10, 20, 30, 40)
my_num.count(25)

0

In [63]:
my_num = (10, 20, 30, 40)
my_num.index(25)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# Create a tuple with a string, list, and float. Change the list inside the tuple.
# mixed = ("Python", [1, 2, 3], 3.14)

### Packing and Unpacking in Tuples

Packing refers to the process of combining multiple values into a tuple, and Unpacking is extracting those values back from the tuple into individual variables.

In [64]:
#packing
person_info = ("John", 25, "Software Engineer")

In [65]:
#unpacking
name, age, Jobtitle = person_info

In [66]:
name

'John'

In [67]:
age

25

In [68]:
name, age, Jobtitle, height = person_info

ValueError: not enough values to unpack (expected 4, got 3)

In [69]:
age1, name1, Jobtitle = person_info

In [70]:
name1

25

In [71]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values

In [72]:
second

'Banana'

In [73]:
others

['Cherry', 'Grapes']

In [74]:
*others

SyntaxError: can't use starred expression here (1689828719.py, line 1)

In [75]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, *others = values

In [76]:
first

'Apple'

In [77]:
others

['Banana', 'Cherry', 'Grapes']

In [78]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, *others, last = values

In [79]:
last

'Grapes'

In [80]:
others

['Banana', 'Cherry']

In [ ]:
# Unpack the tuple (1, 2, 3) into three variables.